<div class="container-body">
    <br>
    <h1 class="text-center main-head" style="text-shadow: 2px 2px 2px antiquewhite; color: darkred;">
        The Pension Management Portal
    </h1>
    <br><br><br>
    <div class="text-center">
        <h3 class="title" style="font-style: italic;">
            <span>
            This portal is for pensioners for getting their respective pension amounts and the bank service charge (that the bank cuts 
            from the pension amount) displayed on the UI. In addition to this, as soon as these are displayed, 
            the pension details, the pensioner inputted details, and the corresponding full pensioner details get saved 
            into the database.
            </span>
        </h3>
    </div>
    <br><br><br>

    <div class="text-center">
    <button routerLink="../pension-details" 
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
    class="btn bg-color">Head to process your pension <i class="fas fa-angle-double-right"></i></button>
    </div>
</div>